<!doctype html>
<html lang="en">

<head>
    <title>NODEJS-EXPRESS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- create new user -->
    <form action="/create-new-user" method="POST">
        <h3 class="text-center ">Create a new user:</h3>
        <div class="row m-auto px-5">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="">Họ và tên</label>
                    <input type="text" name="name" id="" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" name="email" id="" class="form-control" placeholder=""
                        aria-describedby="helpId">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="">Address</label>
                    <input type="text" name="address" id="" class="form-control" placeholder=""
                        aria-describedby="helpId">
                </div>
            </div>
        </div>
        <div class="col-lg-3 m-auto mt-4">
            <button type="submit" id="btn_submit" class="btn btn-outline-success"
                style="margin-left: 60px;">submit</button>
        </div>
    </form>
    <!-- table -->
    <div class="container mt-5">
        <div class="col-lg-10 m-auto">
            <h5 class="mb-3">list table</h5>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>email</th>
                        <th>address</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < dataUser.length; i++) { %>
                        <tr>
                            <td>
                                <%= dataUser[i].id %>
                            </td>
                            <td>
                                <%= dataUser[i].name %>
                            </td>
                            <td>
                                <%= dataUser[i].email %>
                            </td>
                            <td>
                                <%= dataUser[i].address %>
                            </td>
                            <td class="d-flex">
                                <button class="border-0 bg-transparent" type="button"> <a class="btn btn-outline-info"
                                        href="/detail/user/<%= dataUser[i].id %>">Detail</a></button>
                                <form class="mr-2" action="/edit-user/<%= dataUser[i].id %>" method="get">
                                    <button class="btn btn-outline-warning" type="submit">
                                        Edit</button>
                                </form>
                                <form action="/delete-user" method="POST">
                                    <input type="text" name="userId" id="" hidden value="<%= dataUser[i].id %>">
                                    <button class="btn btn-outline-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>